.upload-group input[type="file"]{display:none}
.upload-group .upload-btn span{line-height:34px;display:inline-block;height:34px;padding:0 10px;background:#980e3c;color:#fff}
.upload-group .file-name{width:230px;height:28px;padding:0 10px}
